* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#header {
    background-color: black;
    padding: 0 100px;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.title {
    color: white;
    flex-direction: column-reverse;
}

.function {
    color: white;
    display: flex;
    align-items: center;
}

.image {
    height: 660px;
}

.function li {
    font-size: 18px;
    list-style: none;
    margin: 0 14px;   
}

.content-table {
    display: flex;
    justify-content: center;
    margin: 0 150px;
}

.content,.table {
    flex: 1;
}

.content {
    margin-right: 50px;
}

.content h2 {
    font-size: 30px;
    font-weight: 550;
    margin-bottom: 15px;
}

.content p {
    font-size: 17px;
}

.slider {
    margin:100px 150px;

}

.img {
    /* width: 1349px; */
}

.idea {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    margin: 100px;
    border-bottom: 1px solid black ;
}

.idea-show {
    flex: 1;
    margin: 0 15px;
    text-align: center;
}

.idea-show h2 {
    margin-bottom: 20px;
}

.idea-show img {
    width: 42px;
    height: auto;
}

.icon {
    margin: 150px 300px;
    text-align: center;
}

.icon-text h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}

.icon-text p {
    font-size: 19px;
}

.table {
    margin-top: 50px;
    display: inline-block;
    width: 100%;
}

.column {
    display: flex;
    justify-content: center;
}

.column img {
    width: 200px;
    padding: 30px;
    opacity: 0.5;
}

.footer {
    width: 100%;
}
.footer-image img {
    width: 1349px;
}

.end {
    display: flex;
    justify-content: center;
    margin: 0 200px;
    background-color: black;
    color: white;
    padding-bottom: 50px;
}

.link {
    flex: 1;
    font-size: 15px;
}

.link h3 {
    font-size: 15px;
    margin-bottom: 10px;
}

.link p {
    margin-bottom: 8px;
}